{# This template connects the hero paragraph with the hero component #}

{% extends('paragraph.html.twig') %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% include 'drupalnyc:hero' with {
        media_position: media_position,
        media: content.extra_field_dnyc_hero_image,
        heading: content.extra_field_dnyc_hero_title ?? '',
        sub_heading: content.field_subheading
      } only %}
    {% endblock %}
  </div>
  {{ content.extra_field_dnyc_hero_image|cache_metadata }}
  {{ content.extra_field_dnyc_hero_title|cache_metadata }}
  {{ content.field_subheading|cache_metadata }}
  {{ content|cache_metadata }}
{% endblock paragraph %}
