{% set teaser_classes = [
  'c-teaser',
  'c-teaser--' ~ variant|default('card'),
] %}

{% set teaser_classes = teaser_classes|merge(classes|default([])) %}

<article {{ attributes.addClass(teaser_classes) }}>

  {% if teaser_media %}
    <div class="c-teaser__media">
      {{ teaser_media }}
    </div>
  {% endif %}

  <div class="c-teaser__content">
    <h3 class="c-teaser__title">{{ teaser_title }}</h3>

    {% if teaser_body %}
      <div class="c-teaser__body">{{ teaser_body }}</div>
    {% endif %}

    {% if teaser_link.url is not empty %}
      <p class="c-teaser__actions">
        <a class="c-teaser__more-link" href="{{ teaser_link.url }}">
          <span class="text">{{ teaser_link.text }}</span>
        </a>
      </p>
    {% endif %}
  </div>
</article>
