<article{{attributes.addClass(['article'])}}>

  {% if node.get('field_hero').isEmpty() %}
  <header class="article__header l-constrained">
    {{ title_prefix }}
    {{ include('drupalnyc:page-title', {
      page_title_title: label
    }) }}
    {{ title_suffix }}
  </header>
  {% else %}
  <header class="article__header l-constrained">
    {{ content.field_hero }}
  </header>
  {% endif %}

  <div class="l--1-col l-constrained">
    <div class="l__primary">
      {% if content %}
        {{ content|without('field_hero') }}
      {% endif %}
    </div>
  </div>
</article>
